[phases.setup]
# python313과 python313Packages.pip을 명시적으로 설치합니다.
nixPkgs = ["python313", "python313Packages.pip"]

[phases.install]
# Nix 환경에서 pip 설치 허용
cmds = ["pip install --break-system-packages -r requirements.txt"]
