[phases.setup]
nixPkgs = ["python313", "postgresql"]

[phases.install]
cmds = ["pip install -r requirements-prod.txt"]

[phases.build]
cmds = [
    "python manage.py collectstatic --noinput"
]

[start]
cmd = "python manage.py migrate --noinput && gunicorn config.wsgi:application --bind 0.0.0.0:$PORT --workers 2"
